body {
    margin: 0px;
    padding: 0px;
    height: 8000px;
}

#img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

p {
    z-index: 10;
    font-size: 70px;
    font-weight: bold;
    position: fixed;
    top: 10px;
}

#count1 {
    color: rgb(0, 0, 0);
    background-color: bisque;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    top: 70px;
    right: 30px;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 50px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

#count2 {
    color: rgb(0, 0, 0);
    background-color: aquamarine;
    font-size: 20px;
    position: fixed;
    top: 150px;
    right: 30px;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 50px;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}